<div class="row">
    <div class="column">
        <h1><i class="fa fa-home"></i> Home</h1>
    </div>
</div>
<div class="row">
    <div class="column">

        <div *ngIf="user" class="secondary callout">
            <h4>Managing TV Show with Angular 2</h4>
            <a routerLink="/shows" class="button success">Start ...</a>
        </div>

        <div *ngIf="!user" class="secondary callout">
            <h4>Authentification</h4>
            <form name="loginForm" #loginForm="ngForm" (submit)="loginUser(loginForm.value)">

                <div class="row">
                    <div class="small-3 columns">
                        <label for="login" class="middle">Login</label>
                    </div>
                    <div class="small-9 columns">
                        <input type="text" [(ngModel)]="login" name="login" required>
                    </div>
                </div>

                <div class="row">
                    <div class="small-3 columns">
                        <label for="password" class="middle">Password</label>
                    </div>
                    <div class="small-9 columns">
                        <input type="password" [(ngModel)]="password" name="password" required>
                    </div>
                </div>

                <input type="submit" class="button success" value="Login"/>

            </form>
        </div>
    </div>
</div>
<a (click)="test()" class="button">test</a>