<div class="row">
    <div class="column">
        <h1>
            Shows <small>List</small>
            <a [routerLink]="['/show']" class="button success small pull-right">Add</a>
        </h1>
    </div>
</div>

<div class="row">
    <div class="column">

        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Seasons</th>
                    <th>Episodes</th>
                    <th style="width:125px"></th>
                </tr>
            </thead>
            <tbody *ngIf="shows">
                <tr *ngFor="let s of shows">
                    <td>{{s.title}}</td>
                    <td>{{s.seasons ? s.seasons.length : 0}}</td>
                    <td>{{s | staProgress}}</td>
                    <td>
                        <a [routerLink]="['/show', s.id]" class="warning button"><i class="fa fa-pencil-square-o fa-lg"></i></a>
                        <a (click)="deleteShow(s.id)" class="alert button"><i class="fa fa-trash fa-lg"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>