<div class="row">
    <div class="column">
        <h1>Shows <small>Edit #{{show ? show.id : ''}}</small></h1>
    </div>
</div>

<form *ngIf="show" name="showForm" #showForm="ngForm" (ngSubmit)="saveShow(showForm)">

    <div class="row">
        <div class="column">
            <hr />
            <h2>Show properties</h2>
        </div>
    </div>

    <div class="row">
        <div class="small-3 columns">
            <label for="title" class="middle">Title</label>
        </div>
        <div class="small-9 columns">
            <input type="text" [(ngModel)]="show.title" name="title" required #title="ngModel">
        </div>
    </div>

    <div class="row">
        <div class="small-3 columns">
            <label for="year" class="middle">Year</label>
        </div>
        <div class="small-9 columns">
            <input type="number" [(ngModel)]="show.year" name="year" #year="ngModel">
        </div>
    </div>

    <div class="row">
        <div class="column">

            <hr>

            <h2>
                Season ({{show.seasons ? show.seasons.length : 0}})
                <a (click)="addSeason()" class="button success small">Add</a>
                <a (click)="removeSeason()" [class.disabled]="!show.seasons || !show.seasons.length" class="button alert small">Remove</a>
            </h2>

            <blockquote *ngIf="show.seasons">
                <div *ngFor="let s of show.seasons">
                    <h4>
                        Season {{s.number}}
                        <a (click)="addEpisode(s)"><i class="fa fa-plus-square"></i></a>
                        <a (click)="removeEpisode(s)"><i class="fa fa-minus-square"></i></a>
                    </h4>
                    <ng-container *ngIf="s.episodes">
                        <sta-episode *ngFor="let e of s.episodes" [episode]="e"></sta-episode>
                    </ng-container>
                </div>
            </blockquote>

        </div>
    </div>

    <div class="row">
        <div class="column">
            <hr />
            <input type="submit" class="button success large" value="Save" [disabled]="!showForm.form.valid" />
            <a class="button secondary large" routerLink="/shows">Cancel</a>
        </div>
    </div>

</form>